
.pagetitle{
    font-size:30px;
    font-weight:700;
    text-align:center;
    margin:0.7rem 0;
}

.viewButtons{
    display:flex;
    justify-content:space-between; 
    align-items:center;
    width:100%;
    max-width:1200px;
    margin:1rem auto;
    padding:1rem; 
}